@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD:assets/css/main.css
=======

@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter-Regular.ttf");
}

*, .inter {
    font-family: "Inter";
}
>>>>>>> 1404c672e640529478483cd640994cc5ef4c2ee1:src/style.css
